.Profil {
    position: fixed;
    top: 25vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 4;
}

.Profil-name {
    position: fixed;
    top: 30vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 12;
}

.Profil-Alter {
    position: fixed;
    top: 45vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 12;
    
}

.Name-muster {
    position: fixed;
    top: 29vh;
    left: 50vw;
    width: 40vw;
    height: 7vh;
    z-index: 12;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
}

.Alter-muster {
    position: fixed;
    top: 43vh;
    left: 50vw;
    width: 40vw;
    height: 7vh;
    z-index: 12;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    border-width: 2px;
    padding: 7px;
    margin: 5px;
}

.MannFrau {
 position: fixed;
 max-width: 50%;
 top: 52vh;
align-content: center;
 z-index: 15;
}

.maennlich {
    position: fixed;
    max-width: 25%;
    z-index: 14;
    top: 53vh;
    left: 50vw;
}

.weiblich {
    position: fixed;
    max-width: 25%;
    z-index: 14;
    top: 53vh;
    left: 28vw;
}

.Hauttyp {
    position: fixed;
    max-width: 50%;
    z-index: 10;
    top: 25vh;
    left: width/2;
}

.Hautscanner {
    position: fixed;
    max-width: 50%;
    z-index: 12;
    top: 48vh;
    left: width/2;
}

.Hauttyp_icon {
    position: fixed;
    max-width: 60%;
    z-index: 13;
    top: 50vh;
    left: width/2;
}

.Augenfarbe {
    position: fixed;
    max-width: 50%;
    z-index: 15;
    top: 25vh;
    left: width/2;
}

.Haarfarbe-icon {
    position: fixed;
    max-width: 50%;
    z-index: 15;
    top: 30vh;
    left: 0vw;
}

.avatar-button {
    background-color: #e7e7e7; color: black;  
    border: white;
    color: black;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
}

.avatar-button:hover {
    background-color: transparent;
    border: 1px solid white;
  }

  .braun {
    position: fixed;
    max-width: 50%;
    z-index: 15;
    top: 50vh;
    left: 10vw;
  }