.inhalt {
    position: fixed;
    top: 25vh;
    left: 5vh;
    height: 20vh;
    margin: 10px;
    width: 100vw;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: regular;
    font-size: 1.3rem;

}

.titel {
    position: fixed;
    font-size: 1.3rem;
    top: 12vh;
    left: 10vw;
    width: 80vw;
    height: 10vh;
    z-index: 7;
}

.link1,
.link2,
.link3 {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 10;

}

.bild {
    position: fixed;
    left: 40vh;
    max-width: 40px;
    max-height: 40px;
    flex-direction: column;
    z-index: 10;
}

.zurueck {
    position: fixed;
    top: 25vh;
    left: 6vw;
    width: 10vw;
    height: 8vh;
    align-content: center;
    z-index: 8;
}

.text {
    font-size: 0.5rem;
    font-weight: bold;
    z-index: 8;
    position: fixed;
    top: 35vh;
    left: 14vw;
    width: 70vw;
    height: 30vh;
}

* {
    text-decoration: none;
    color: black;
}

.settings {
    position: fixed;
    top: 25vh;
    left: 20vw;
    width: 70vw;
    height: 65vh;

}

.ton {
    position: fixed;
    top: 25vh;
}

.kreis1 {
    position: fixed;
    top: 32vh;
    max-width: 19px;
    max-height: 1000px;
}

.anzeige {
    position: fixed;
    top: 47vh;
}

.kreis3 {
    position: fixed;
    top: 53vh;
    max-width: 19px;
    max-height: 100px;
}

.sprache {
    position: fixed;
    top: 65vh;
}

.kreis2 {
    position: fixed;
    top: 72vh;
    max-width: 19px;
    max-height: 100px;
}

.sound1 {
    position: fixed;
    top: 32vh;
    left: 32vw;
}




.cf1 {
    position: fixed;
    top: 53vh;
    left: 32vw;
}


.sprache1 {
    position: fixed;
    top: 71vh;
    left: 32vw;
}