.inhalt {
    position: fixed;
    top: 32vh;
    left: 0;
    height: 20vh;
    margin: 10px;
    width: 100vw;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: regular;
    font-size: 1.3rem;

}

.titel {
    top: 25vh;
    position: fixed;
    align-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.link1,
.link2,
.link3 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;



}

.bild {
    display: flex;
    max-width: 40px;
    max-height: 40px;
}