.top {
    position: fixed;
    left:0;
    width: 100vw;
    height: 20vh;
    top:0;
    z-index: 9;
    background: white;
    border-radius: 0 0 0 0 ;
}

.Persona {
    position: fixed;
    top: 30vh;
    left: 0;
    width: 100vw;
    height: 30vh;
    z-index: 8;
    text-align: center;
   
}

.uvindex {
    position: fixed;
    top: 5vh;
    left: 50vw;
    width: 40vw;
    height: 15vh;
    text-align: center;
}

.wetter {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 40vw;
    height: 15vh;
    text-align: center;
}