.top {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 20vh;
    top: 0;
    z-index: 9;
    background: white;
    border-radius: 0 0 0 0;
}

.Persona {
    position: fixed;
    left: 20;
    top: 30vh;
    left: 0;
    width: 100vw;
    height: 30vh;
    z-index: 8;
    text-align: center;

}

.uvindex {
    position: fixed;
    top: 5vh;
    left: 50vw;
    width: 40vw;
    height: 15vh;
    text-align: center;
}

.TimerIcon {
    position: fixed;
    top: 45vh;
    left: 100%/2;
    width: 100vw;
    height: 30vh;
    z-index: 7;
    align-content: center;
    max-width: 70%;
}

.wetter {
    position: fixed;
    top: 2vh;
    left: 0;
    width: 100vw;
    height: 15vh;
    text-align: center;
    z-index: 1;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.wetter_icon {
    width: 25vw;
}

.wetter_location {
    width: 45vw;
    text-align: left;
}

.wetter_uv {
    width: 30vw;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

}

.uv_header {
    font-size: .8rem;
    max-width: 50%;
    max-height: auto;

}