.titel-timer {
    position: fixed;
    top: 12vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 8;
}

.Persona-timer {
    position: fixed;
    top: 25vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 8;
}

.timer-button {
    
}