.titel-timer {
    position: fixed;
    top: 12vh;
    left: 10vw;
    width: 100vw;
    height: 10vh;
    z-index: 5;
}

.Persona-timer {
    position: fixed;
    top: 25vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 8;
}

.timer-button {
    background-color: #e7e7e7; color: black;  
    border: white;
    color: black;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
}

.timer-button:hover {
    background-color: transparent;
    border: 1px solid white;
  }

  .Suncreme {
    position: fixed;
    top: 25vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 8;
  }

  .Sonnenaussetzung {
    position: fixed;
    top: 25vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 8;
  }

  .Aktivitaeten {
    position: fixed;
    top: 25vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 8;
  }

  .Zusammenfasung {
    position: fixed;
    top: 25vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 8;
  }
  .weiter {
    position: fixed;
    top: 81vh;
    left: 86vw;
    width: 10vw;
    height: 8vh;
    align-content: center;
    z-index: 11;  
  }

  .weiter img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    align-content: center;
}

  .zurueck {
    position: fixed;
    top: 81.5vh;
    left: 6vw;
    width: 10vw;
    height: 8vh;
    align-content: center;
    z-index: 10;  
  }

  .zurueck img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    align-content: center;
}

  #demo-inline {
    width: 80%;
  }

  #demo-akt {
      width: 80%;
      z-index: 8;
  }

  .mbsc-fr-w {
      position: fixed;
      top: 7vh;
      border-radius: 12px;
  }

  .mbsc-sc-whl {
    font-size: 12px;
}

.Zeitleiste {
    position: fixed;
    max-width: 50%;
    top: 83vh;
    left: center;
    z-index: 7;

}

.direkt {
    position: fixed;
    top: 42vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}

.sonnig {
    position: fixed;
    top: 36.5vh;
    left: 65vw;
    max-width: 25vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
    display: inline-block;
}

.sonnig:hover {
    background: url("img/icons_sonnig_white.png");
    z-index: 10;
  }

.halbschatten {
    position: fixed;
    top: 49vh;
    left: 65vw;
    max-width: 25vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}

.halbschatten:hover {
    background: url("img/icons_halbschatten_white.png");
    z-index: 10;
  }


.wolken {
    position: fixed;
    top: 63vh;
    left: 65vw;
    max-width: 25vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}

.wolken:hover {
    background: url("img/icons_wolken_white.png");
    z-index: 10;
  }

.halb {
    position: fixed;
    top: 55vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}

.schatten {
    position: fixed;
    top: 68vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}

.SSF {
    position: fixed;
    top: 40vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}

.SA {
    position: fixed;
    top: 52vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}

.AK {
    position: fixed;
    top: 65vh;
    left: 10vw;
    width: 100vw;
    height: 30vh;
    z-index: 10;
}